extends ../node_modules/jade-bootstrap/_bootstrap

append styles
        link(href='/stylesheets/home.css', rel='stylesheet')

block body
        .site-wrapper
                .site-wrapper-inner
                        .cover-container
                                .masthead.clearfix
                                        .inner
                                                h3.masthead-brand FabHouse
                                                nav
                                                        ul.nav.masthead-nav
                                                                li.active
                                                                        a(href="/") 主页
                                                                li
                                                                        a(href="/signup") 注册
                                                                li
                                                                        a(href="/signin") 登录
                                                                li
                                                                        a(href="#") 关于
                                .inner.cover
                                        h1.cover-heading FabHouse
                                        p.lead FabHouse is a safe and reliable platform for house renting based on Blockchain.
                                        p.lead
                                        a(href="/signup", class="btn btn-lg btn-default") 开始使用

                                .mastfoot
                                        .inner
                                                p Demo for <a href="https://tianchi.aliyun.com/competition/introduction.htm?spm=5176.100067.5678.1.371b4e9aSZE3Ov&raceId=231665">Tianchi </a>, by <a href="javascript:void(0)">@小瑜瑜的饭局</a>. 
