extends layout

block content
  div.card
    div.card-header Featured
    div.card-body
      h5.card-title special title treatment
      p.card-text with supporting text below as a natural lead-in to additional content.
      a.btn.btn-primary go somewhere

