extends layout

append styles
    link(rel='stylesheet', href='/stylesheets/myrent.css')

append scripts
    script(src='/javascripts/jquery.js', type='text/javascript')
    
    script(src='/javascripts/ownerrent.js', type='text/javascript')

block content
    span.username(style="display:none") #{name}
    span.userid(style="display:none") #{idcard}
    span.customername(style="display:none")
    span.customerid(style="display:none")

    nav.navbar.fixed-top.navbar-light.bg-light
        a.navbar-brand(href="/") FabHouse
        div.welcome(style="font-color:gray") 欢迎您， #{name}

      
    .container
        div#title
            span.heading.active.borderr(onclick="getContract(0)") 全部记录
            span.heading.borderr(onclick="getContract(1)") 申请中
            span.heading.borderr(onclick="getContract(2)") 待确认
            span.heading(onclick="getContract(3)") 已成交

        div#tabhead
            span.tabh.long 房屋信息 
            span.tabh.normal 签约日期
            span.tabh.normal 出价信息
            span.tabh.normal 状态
            span.tabh.normal 指定操作
        
            div#ownercontent
            
            div#popup
            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
