extends ../node_modules/jade-bootstrap/_bootstrap
append styles
        link(href='/stylesheets/signup.css', rel='stylesheet')
       

        script(src='/javascripts/jquery.js', type='text/javascript')
        script(src='/javascripts/signup.js', type='text/javascript')

block body
        .site-wrapper
                .site-wrapper-inner
                        .cover-container
                                .masthead.clearfix
                                        .inner
                                                h3.masthead-brand FabHouse
                                                nav
                                                        ul.nav.masthead-nav
                                                                li
                                                                        a(href="/") 主页
                                                                li.active
                                                                        a(href="/signuphouse") 注册房屋
                                                                li
                                                                        a(href="/lease") 房屋列表
                                                                li
                                                                        a(href="#") 关于
 
        .container
                div.form-signin
                        h2.form-signin-heading Welcome #{result.name}
                        input#inputID(type='text',placeholder='房屋号码')
                        input#inputArea(type='text', placeholder='面积')
                        input#inputStatus(type='text', placeholder='状态')
                        input#inputOwner(type='text', placeholder='持有者')
                        input#inputUser(type='text', placeholder='使用者')
                        
                        button.btn.btn-lg.btn-primary.btn-block(type='submit',onclick='signuphouse()') 注册
                        button.btn.btn-lg.btn-primary.btn-block(type='submit',onclick='queryhouse()') 查询
