extends ../node_modules/jade-bootstrap/_bootstrap
append styles
        link(href='/stylesheets/signup.css', rel='stylesheet')
       

        script(src='/javascripts/jquery.js', type='text/javascript')
        script(src='/javascripts/signup.js', type='text/javascript')

block body
        .site-wrapper
                .site-wrapper-inner
                        .cover-container
                                .masthead.clearfix
                                        .inner
                                                h3.masthead-brand FabHouse
                                                nav
                                                        ul.nav.masthead-nav
                                                                li
                                                                        a(href="/") 主页
                                                                li.active
                                                                        a(href="/signup") 注册
                                                                li
                                                                        a(href="/signin") 登录
 
        .container
                div.form-signin(style="margin-top:150px")
                        h2.form-signin-heading(style="font-size:18px;font-weight:lighter") 用户注册
                        form#signupform(action='/signupService', method='post')
                                input#inputIDCard.signupinput(type='text',placeholder='身份证号码:范围：0000-0999',name='idcard')
                                input#inputPassword.signupinput(type='password',placeholder='密码',name='password')
                                input#inputName.signupinput(type='text', placeholder='姓名',name='name')
                                input#inputPhone.signupinput(type='text', placeholder='电话号码',name='phone')
                                input#inputCompany.signupinput(type='text', placeholder='公司',name='company')
                                input#inputCredit.signupinput(type='text', placeholder='信用分',name='credit')
                                
                                div.form-check(style="margin-bottom:10px")
                                        input.form-check-input(type='radio', name='type', id='customer', value='customer',checked='', style="width:35px;")
                                        label.form-check-label(for='type') 我要租房 
                                        input.form-check-input(type='radio', name='type', id='owner', value='owner' style="width:35px;")
                                        label.form-check-label(for='type') 我是房主 
                                button.btn.btn-lg.btn-primary.btn-block(type='submit') 注册
