extends ../node_modules/jade-bootstrap/_bootstrap
append styles
        link(href='/stylesheets/signup.css', rel='stylesheet')
       

        script(src='/javascripts/jquery.js', type='text/javascript')
        script(src='/javascripts/signup.js', type='text/javascript')

block body
        .site-wrapper
                .site-wrapper-inner
                        .cover-container
                                .masthead.clearfix
                                        .inner
                                                h3.masthead-brand FabHouse
                                                nav
                                                        ul.nav.masthead-nav
                                                                li
                                                                        a(href="/") 主页
                                                                li
                                                                        a(href="/signup") 注册
                                                                li.active
                                                                        a(href="/signin") 登录
                                                                li
                                                                        a(href="#") 关于
 
        .container
                div.form-signin
                        h2.form-signin-heading 用户登录
                        form#loginform(action='/queryoneService',method='post')
                                input#inputIDCard(type='text', placeholder='身份证号码', name="idcard")
                                input#inputPassword(type='password',placeholder='密码', name="password")
                                div.form-check
                                        input.form-check-input(type='radio', name='type', id='customer', value='customer',checked='', style="width:35px;")
                                        label.form-check-label(for='type') 我要租房 
                                        input.form-check-input(type='radio', name='type', id='owner', value='owner' style="width:35px;")
                                        label.form-check-label(for='type') 我是房主 
                        button.btn.btn-lg.btn-primary.btn-block(type='submit', onclick='signin()') 登录
